if SHIELD_DONGLE_R

config ZMK_KEYBOARD_NAME
    default "dongle-test_r"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DONGLE_L

config ZMK_KEYBOARD_NAME
    default "dongle-test_l"

config ZMK_SPLIT
    default y

endif

if SHIELD_DONGLE_NUM

config ZMK_KEYBOARD_NAME
    default "dongle-test_num"

config ZMK_SPLIT
    default y

endif